#title{
    image-resolution: 300dpi;
  
  }
  #vehicle{
    margin-top:30px;
    margin-bottom:30px;
  
  }
  footer{
    background-color: #183883;
    
  }
  .footer-button{
    width: 300px;
  }
  .btn-lg{
    border-color: #183883;
  }
  .footer-button:hover{
    color: white;
    background-color: #183883;
    border-color: white;
  }
  .vehicle-option{
    padding-right: 700px;
  
  }
  .vehicle-navbar{
    padding:0px;
  }
  .vehicle-button{
    color:black;
      margin-top: 10px;
  }
  .row{
    margin:0px;
    padding-top:20px;
  }
  .scooter-image{
  height:80px;
  }
  .scooter-picture{
    padding:0 40px;
  }
  .scooter{
    background-color: whitesmoke;
  }
  .moped{
    background-color: whitesmoke;
    
  }
  .motorcycle{
    background-color: whitesmoke;
  }
  .card{
    text-size-adjust:20px;
    width:20%;
    height:20%;
    border:2px solid blue;
  
    text-align:right;
    margin-left:10px;
  }
 
  h5{
    float:right;
  }
  p{
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
  }
  .nav-link{
    color:white;
  }
  .navbar{
    padding:0px;
  }
  .navbar-brand{
    font-weight:bold;
    font-size: 2.5rem;    
  }
  #navbarDropdown{
    color:white;
  }
  .nav-item{
    padding:0 18px;
  }
  .jaimaa{
    padding-left: 300px;
  }
  .nav-link{
    font-size:1.2rem;
    font-family:"Montserrat-Black";
    padding-left: 20px;
    color: white;
  }
  /* .test-drive{
    background-image: url("https://www.tvsmotor.com/assets/img/brands/test-ride.svg");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 80px 0px;
    background-position-x: left;
    color: white;
  }
  .book-vehicle{
    background-image: url("https://www.tvsmotor.com/assets/img/brands/book-online.svg");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 80px 0px;
    background-position-x: left;
    color: white;
    padding-left: 27px;
  } */
  .container-fluid{
    padding:0px;
  }
  .container{
    margin: 0px;
    color: white;
    background-color: #183883;
    padding-left: 100px;
    width: 1500px;
    
  }
  .carousel-item{
    text-align:center;
  }
  
  /*         vehicle  8*/
  h1{
    font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-display: swap;
  font-size: 30px;
  display: block;
  }
  
  #title-line{
    margin:0px;
    font-size:13px;
  
  }
  .title-div{
    background-color:#183883;
    color:white;
    text-size-adjust:20px;
    padding-left:30px;
    padding-top:35px;
    width: 70%;
    height:8rem;
  }
  
  @media(max-width:992px){
    .btn{
      margin:10px;
      height: 100px;
      width:120px;
      text-size-adjust:50px;
    }
    #navbarDropdown{
      padding-top:20px;
      width:90px;
      height:80px;
    }
    .dropdown-item{
      font-size:x-large;
      width:30%;
    }
  }
 